*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
}


header{
    color: white;
}


.img-logo{
    width: 60px;
    border-radius: 50%;
}

header div a{ 
  text-decoration: none;
}


span{
    color: white;
    text-transform: uppercase;
}

h2{
    color: white;
    padding: 20px;
}

#productos p{
    color: lightblue;
}

.img-fluid{
    border-radius: 50% 10%;
}

.img-nosotros{
    width: 28rem;
    margin: 0 auto;
    transition: .4s;
    border-radius: 10% 30% 10% 30%;
}

.img-nosotros:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.descripcion{
    padding: 0 30px;
    color: lightseagreen;
    text-align: center;
}


.background{
    background:rgba(0,0,0,0.5);
}


